@using BlazorBootstrap

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OmniClient</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<Dropdown>
    <DropdownToggleButton Color="ButtonColor.Secondary">Dropdown button</DropdownToggleButton>
    <DropdownMenu>
        <DropdownItem To="#" Type="ButtonType.Link">Action</DropdownItem>
        <DropdownItem To="#" Type="ButtonType.Link">Another action</DropdownItem>
        <DropdownItem To="#" Type="ButtonType.Link">Something else here</DropdownItem>
    </DropdownMenu>
</Dropdown>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Files
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="specials">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Specials
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bin">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bin
            </NavLink>
        </div>
    </nav>
</div>
