@page "/"

<h1>Welcome to ThunderCloud</h1>

Here all the files and folders avaiable for a user should be visualized with a searchbar or similar (or clickable filters like data selector or type of files)
